
/* makes the entire page flexed */
.wrapeverything {
  display:flex;
  flex-direction: column;
  align-items:center;
  width: 100vw;
  font-family:Georgia, 'Times New Roman', Times, serif;
}

footer {
  font-size: 9px;
  color:rgb(143, 143, 143);

}

.content {
  width:50%;
}
/* header flex container */
.flex-nav ul{
  border-bottom:1px solid;
    /* flexstuff */
  display:flex;
  width:100vw;
  align-items: center;
  text-align: center;

}
/* header flex item */
.flex-nav li{
  /* border:5px solid red; */
  flex:1;

}
.flex-nav #nytlogo {
  flex: 7;
}

/* footer flex container */
footer ul {
  display:flex;
  width:100vw;
  justify-content: center;
}
/* footer flex item */
footer li {
  flex:1;
}


/* just makes the unordered lists non-bulleted */
ul {
  list-style-type:none;
  margin:0;
  padding:0;
}

#articlephoto {
  width: 70%;
}

@media all and (max-width:1000px){

}